/* Navbarcomp.module.css */
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');

/* Base Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; /* Initially transparent background */
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    transition: background-color 0.3s ease, top 0.3s ease, color 0.3s ease; /* Smooth transition for background color and top */
    position: fixed; /* Fixed position initially */
    top: 0; /* Position at the top of the viewport */
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it's above other content */
    font-family: 'Sarabun', sans-serif;

}

.navbarScrolled {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background color when scrolled */
    color: black;
}

.navbarScrolled .searchContainer {
    padding: 12px;
    background-color: black; /* Change background to black when scrolled */
    color: white; /* Change text color to white when scrolled */
}

.navbarScrolled .searchIcon {
    color: rgb(246, 239, 239);
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

.navbarScrolled .signContainer {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 12px 30px;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbarScrolled .signContainer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding-right: 10px;
}

.navbarLeft,
.navbarRight {
    display: flex;
    align-items: center;
}

.navbarLeft {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    
}

.navbarLeft a {
    color: rgb(255, 255, 255); /* Initial font color white */
    text-decoration: none;
    padding: 10px 30px;
    font-size: 1.3rem;
    font-weight: normal;
    text-transform: uppercase;
    align-items: center;
    border-top: 2px solid transparent; /* Border for the line effect */
    margin-top: 10px; /* Adjust as needed to separate the lines from the text */
    transition: color 0.3s ease, border-top-color 0.3s ease;
    position: relative;
}
.navbarLeft a + a {

    margin-left: 70px; /* Adjust this value for horizontal spacing between links */
}

.navbarLeft a::before {
    content: "";
    position: absolute;
    top: -5px; /* Distance from the top */
    left: 0;

    right: 0;
    height: 2px; /* Thickness of the line */
    background-color: white; /* Initial line color */
    transition: background-color 0.3s ease;
}

.navbarLeft a.active::before,
.navbarLeft a:hover::before {
    background-color: black; /* Change line color on hover or when active */
}


.navbarLeft a.active,
.navbarLeft a:hover {
    color: black;
}

.navbarScrolled .navbarLeft a {
    color: black; /* Change font color to black when scrolled */
}

.navbarScrolled .navbarLeft a::before {

    background-color: #000000; /* Change upperline color to black when scrolled */
}

.navbarScrolled .navbarLeft a.active::before,
.navbarScrolled .navbarLeft a:hover::before {
    background-color: #B2BAC7; /* Change line color when scrolled and active or hovered */
color: #B2BAC7;
}



.navbarLogo {
    margin-left: 30px; /* Add some margin to move the logo a little right */
    flex-grow: 1;
}

.logoImg {
    height: 80px; /* Adjust size as needed */
    transition: height 0.3s ease; /* Smooth transition for logo size */
}

.navbarScrolled .logoImg {
    height: 80px; /* Adjust size as needed for scrolled state */
    margin-left: 30px; /* Add some margin to move the logo a little right */
    transition: height 0.3s ease; /* Smooth transition for logo size */
}

.searchContainer {
    display: flex;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 12px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: white; /* Initial background color */
    color: black; /* Initial text color */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for color changes */
    margin-right: 60px; /* Add some margin to move the logo a little right */
}

.searchContainer:hover {
    background-color: black;
    color: white;
}

.searchIcon {
    color: black;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

.searchContainer:hover .searchIcon {
    color: white;
}

.signContainer {
    display: flex;
    align-items: center;
    background-color: rgb(255, 252, 252);
    color: rgb(0, 0, 0);
    padding: 12px 30px;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.signContainer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding-right: 10px;
}

.signContainer:hover {
    background-color: white;
    color: black;
}

.signContainer:hover a {
    color: black;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .navbarLeft a,
    .navbarRight a {
        font-size: 1rem; /* Adjust font size for smaller screens */
    }

    .navbarLogo img {
        height: 40px; /* Adjust size as needed */
        margin-right: auto; /* Push the logo to the extreme left */
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack items vertically */
        padding: 10px 10px;
    }

    .navbarLeft,
    .navbarRight {
        justify-content: center;
    }

    .navbarLeft a,
    .navbarRight a {
        padding: 5px 10px;
        font-size: 1rem; /* Adjust font size for smaller screens */
    }

    .navbarLogo img {
        height: 30px; /* Adjust size as needed */
    }

    .searchContainer {
        width: auto; /* Maintain width on smaller screens */
        margin: 10px 0; /* Add some margin for spacing */
    }

    .signContainer {
        padding: 5px 10px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 5px 5px;
    }

    .navbarLeft a,
    .navbarRight a {
        font-size: 0.9rem; /* Adjust font size for smaller screens */
        padding: 5px 5px;
    }

    .navbarLogo img {
        height: 50px; /* Adjust size as needed */
    }

    .searchContainer {
        flex-direction: column;
        padding: 5px;
        width: auto;
    }

    .signContainer {
        padding: 5px;
        font-size: 0.9rem; /* Adjust font size for smaller screens */
    }
}
